<ion-view view-title="{{city}}">
 <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-star-outline" ng-click="makeFavorite({city:params.city, lat:params.lat, long:params.long})"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row">
      <div class="col center">
        <h1 ng-hide="current">--°{{scale}}</h1>
        <h1 ng-show="current">{{current.temperature | number:precision}}°{{scale}}</h1>
      </div>
    </div>
    <h1>Current Temperature</h1>
  </ion-content>
</ion-view>
